{% extends 'base.html' %}
{% block title %}- List{% endblock %}

{% block content %}
<!--    <a href="{% url 'photo:photo_upload'%}" class="btn btn-xs btn-success" style="position: fixed; float:right; right:100px; top:100px;">글쓰기</a>-->
    {% for post in photos %}
        <div class="row float-left" style="width:36%; position: relative; top:100px;">
            <div class="col-md-2"></div>
            <div class="col-md-8 panel panel-default" style="width:36%;">
                <p><img src="{{post.photo.url}}" style="width:280px; height:280px;"></p>
                <button type="button" class="btn btn-xs btn-info">
                    {{post.author.username}}</button>
                <p>{{post.text|linebreaksbr}}</p>
                <p class="text-right">
                    <a href="{% url 'photo:photo_detail' pk=post.id %}" class="btn btn-xs btn-success">댓글달기</a>
                </p>
            </div>
            <div class="col-md-2"></div>
        </div>
    {% endfor %}
{% endblock %}