{% extends 'base.html' %}
{% block title %}- 성격유형테스트{% endblock %}

{% block content %}
<form action="{% url 'c_type:result' %}" method="POST">
    {% csrf_token %}
    <div class="rdo-grp">
    <h2> 나의 성격유형에 어울리는 여행지는~?! </h2><br>
        <h4> Q1. 나는 먼 곳으로 여행가는 것을 좋아한다</h4>

    <input type="radio" name="q1" value="1" id="c1"/>
        <label for="c1"><span></span><span>YES</span></label>
    <input type="radio" name="q1" value="2" id="c2"/>
     <label for="c2"><span></span><span>NO</span></label>
<br>

        <h4>Q2. 나의 여행은 세운 계획대로 진행되어야한다 </h4>

        <input type="radio" name="q2" value="1" id="c3">
              <label for="c3"><span></span><span>YES</span></label>
    <input type="radio" name="q2" value="2" id="c4"/>
        <label for="c4"><span></span><span>NO</span></label>
    <br>

   <h4>Q3. 나는 여행을 갔을때 그 지역의 유명 관광지는 꼭 방문해야한다</h4>

     <input type="radio" name="q3" value="1" id="c5">
              <label for="c5"><span></span><span>YES</span></label>
    <input type="radio" name="q3" value="2" id="c6"/>
        <label for="c6"><span></span><span>NO</span></label>
    <br>

        <h4>Q4. 나에게 여행할 때 가장 중요한 것은 음식이다 <br></h4>

    <input type="radio" name="q4" value="1" id="c7">
              <label for="c7"><span></span><span>YES</span></label>
    <input type="radio" name="q4" value="2" id="c8"/>
        <label for="c8"><span></span><span>NO</span></label>
    <br>

        <h4>Q5. 나는 새로운 곳으로 여행가는 것을 좋아한다</h4>
    <input type="radio" name="q5" value="1" id="c9">
              <label for="c9"><span></span><span>YES</span></label>
    <input type="radio" name="q5" value="2" id="c10"/>
        <label for="c10"><span></span><span>NO</span></label>
    <br>

        <h4>Q6. 나는 누군가와 함께하는 여행이 더 즐겁다 <br></h4>
    <input type="radio" name="q6" value="1" id="c11">
              <label for="c11"><span></span><span>YES</span></label>
    <input type="radio" name="q6" value="2" id="c12"/>
        <label for="c12"><span></span><span>NO</span></label>
    <br>

        <h4>Q7. 나의 여행에서 좋은 숙소는 중요하다 <br></h4>
    <input type="radio" name="q7" value="1" id="c13">
              <label for="c13"><span></span><span>YES</span></label>
    <input type="radio" name="q7" value="2" id="c14"/>
        <label for="c14"><span></span><span>NO</span></label>
    <br>

        <h4>Q8. 나는 여행에서 처음만난 사람과 쉽게 말을 나눌 수 있다 <br></h4>
    <input type="radio" name="q8" value="1" id="c15">
              <label for="c15"><span></span><span>YES</span></label>
    <input type="radio" name="q8" value="2" id="c16"/>
        <label for="c16"><span></span><span>NO</span></label>
    <br>
        </div>
    <br><br>
    <input type="submit" class="button" value="결과 보러가기">


</form>

<script>

}</script>




{% endblock %}